@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu&display=swap');

body {
    background-color: white;
    
}

section.jumbotron {
    background-color: rgb(255, 244, 244);
    min-height: 350px;
}
